header{
    height: 90px;
    /*border: 1px solid #0d8cee;*/
    width: 99.97vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/1.png");
    /*background-color: #5c0493;*/
}