body{
    /*overflow-y: hidden;*/
}
main{
    height: 640px;
    /*border: 1px solid red;*/
    background-color: #000000;
    width: 99.97vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-section{
    height: 640px;
    /*border: 1px solid #9d14c2;*/
    background-color: #eaeaea;
    width: 99.90vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    /*background-image: url("../../images/1.png");*/
}