#cars-container{
    border: 1px solid red;
    width: 900px;
    /*overflow-y: scroll;*/
    position: absolute;
    margin: auto;
    left: 10px;
    height: 500px;
}

#cars-container>section{
    position: relative;
    height: 250px;
}

#cars-container>section>section{
    width: 98%;
    height: 240px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*height: 250px;*/
}

#cars-section>button{
    position: absolute;
    margin: auto;
    right: 0;
}