#cars-container{
    /*border: 1px solid red;*/
    width: 1000px;
    overflow-y: scroll;
    position: absolute;
    margin: auto;
    left: 10px;
    bottom: 40px;
    height: 550px;
}

#cars-container>section{
    position: relative;
    height: 250px;
}

#cars-container>section>section{
    width: 98%;
    height: 240px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*height: 250px;*/
}
#cars-container h3{
    color: black;
}

.car-price{
    display: flex;
    flex-flow: column;
}

.car-selection div{
    margin-top: 60px;
}
.car-selection input{
    width: 10%;
}

.temp{
    /*border: 1px solid red;*/
    height: 5px;
    position: absolute;
    margin: auto;
    top: 140px;
}

.temp>section{
    /*border: 1px solid #c726cd;*/
}

.fuel-h5{
    margin-left: -11px;
}

.temp>section>h5{
    margin-top: 20px;
    color: black;
}

.span02{
    margin-left: 70px;
}

#car-select-topic{
    position: absolute;
    /*border: 1px solid red;*/
    left: 30px;
    margin: auto;
    top: 10px;
}

#odd-btn{
    /*background-color: #0860e3;*/
}

.car-selection button{
    margin-top: 50px;
    width: 260px;
    height: 35px;!important;
    border: transparent;
    /*background-color: #8507de;*/
    color: white;
    font-family: 'Poppins', sans-serif;
}

.price{
    font-size: 23px;
    color: #5110e8;
}

.car-price>section{
    font-family: 'Poppins', sans-serif;
    /*border: 1px solid red;*/
    height: 50%;
    display: flex;
}

.car-price>section>section{
    font-family: 'Poppins', sans-serif;
    /*border: 1px solid red;*/
    width: 50%;
}

h5{
    font-family: 'Poppins', sans-serif;
    color: blue;
}

.car-details .row{
    width: 100%;
}

span{
    position: absolute;
    margin: auto;
    top: 7px;
}

.car-details{
    display: flex;
    flex-flow: column;
}

.car-details>section{
    width: 100%;
    /*border: 1px solid red;*/
    height: 25%;
}

#cars-container>section>section>section{
    border: 1px solid #aaa8aa;
    /*border-radius: 2%;*/
    /*height: 250px;*/
}

#car-img{
    /*border: 1px solid red;*/
    background-size: cover;
    background-position: center;
    background-image: url("../../images/2022-ford-mustang-shelby-gt500-02-1636734552.jpg");
}

#cars-section>button{
    position: absolute;
    margin: auto;
    right: 0;
}

#all-cars-filter{
    width: 30%;
    border: 1px solid red;
    position: absolute;
    margin: auto;
    top: 72px;
    right: 20px;
    height: 200px;
}

.car-name{
    margin-top: -29px;
}