#customer-register-section{
}

h3{
    font-family: 'Poppins', sans-serif;
}

#customer-details-section{
    /*border: 1px solid red;*/
    width: 40%;
    /*height: 80%;*/
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 80px;
}

.customer-detail-row{
    position: relative;
    width: 100%;
    /*position: absolute;*/
    /*border: 1px solid #9e1212;*/
    height: 40px;
    margin: auto;
    margin-top: 20px;
}

label{
    font-family: 'Poppins', sans-serif;
}

#create-account-btn{
    margin-top: 40px;
    width: 100%;
    height: 40px;
    background-color: #8804db;
    border: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#flex{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}

#flex>section{
    /*border: 1px solid black;*/
    height: 60px;
    margin-top: 10px;
}

#customer-reg-image{
    /*border: 1px solid red;*/
    width: 500px;
    height: 500px;
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../../images/Wavy_Tech-28_Single-10.jpg");
}