#login-btn{
    margin-top: 40px;
    width: 100%;
    height: 40px;
    background-color: #d726f8;
    border: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#sign-in-topic{
    color: #363535;
    font-weight: bold;
    margin-left: -10px;
}

#sign-icon{
    position: absolute;
    /*border: 1px solid red;*/
    margin: auto;
    width:200px;
    height: 100px;
    top: 10px;
    left: 10px;
    background-position: center;
    background-size: cover;
    background-image: url("../../images/attachment_104083548.png");
}

#login-text{
    /*border:1px solid red;*/
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
    text-align: center;
}

#sign-btn{
    margin-top: 7px;
    width: 100%;
    height: 40px;
    background-color: #047edb;
    border: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#customer-login-details-section{
    /*border: 1px solid red;*/
    width: 40%;
    /*height: 80%;*/
    position: absolute;
    margin: auto;
    left: 25px;
    top: 150px;
}

#customer-login-image{
    /*border: 1px solid red;*/
    width: 700px;
    height: 700px;
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
    margin: auto;
    /*border-radius: 100%;*/
    background-position: center;
    background-size: cover;
    background-image: url("../../images/Sign in-pana.png");
}