#customer-register-section{
}

.liner{
    position: absolute;
    margin: auto;
    height: 70%;
    width: 1px;
    border: 1px solid #c6c6c6;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h3{
    font-family: 'Poppins', sans-serif;
}

#customer-details-section{
    /*border: 1px solid red;*/
    width: 40%;
    /*height: 80%;*/
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 80px;
}

.customer-detail-row{
    position: relative;
    width: 100%;
    /*position: absolute;*/
    /*border: 1px solid #9e1212;*/
    height: 40px;
    margin: auto;
    margin-top: 20px;
}

label{
    font-family: 'Poppins', sans-serif;
}

#create-account-btn{
    margin-top: 40px;
    width: 100%;
    height: 40px;
    background-color: #9c26e7;
    border: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.flex-container{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}

.flex-container>section{
    /*border: 1px solid black;*/
    height: 60px;
    margin-top: 10px;
}

#customer-reg-image{
    /*border: 1px solid red;*/
    width: 535px;
    height: 500px;
    position: absolute;
    right: 100px;
    top: 40px;
    bottom: 0;
    margin: auto;
    /*border-radius: 100%;*/
    background-position: center;
    background-size: cover;
    background-image: url("../../images/Fill out-amico (1).png");
}