/*body{*/
/*    overflow-x: hidden;*/
/*}*/
main{
    /*border: 1px solid red;*/
    width: 99.98vw;
    background-color: #d3d3d4;
    height: 734px;
    position: absolute;
}

#login-section .liner{
    position: absolute;
    margin: auto;
    height: 70%;
    width: 3px;
    /*border-left-color: black;*/
    border: 1px solid #2a2a2a;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}