/*body{*/
/*    overflow-x: hidden;*/
/*}*/
main{
    /*border: 1px solid red;*/
    width: 99.98vw;
    background-color: #d3d3d4;
    height: 734px;
    position: absolute;
}

#login-section .liner{
    position: absolute;
    margin: auto;
    height: 70%;
    width: 3px;
    /*border-left-color: black;*/
    border: 1px solid #2a2a2a;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


#request-car-container .selected-car-h5{
    color: #444343;
}

#request-car-container .outline{
}



/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d9d9d9;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d5d3d3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b4b3b3;
}